{% extends  'base.html' %}

{% block content %}

<nav class="nav">
    <div class="navigation container">
      <div class="logo">
        <h1>Altaf</h1>
      </div>

      <div class="menu">
        <div class="top-nav">
          <div class="logo">
            <h1>Altaf</h1>
          </div>
          <div class="close">
            <i class="bx bx-x"></i>
          </div>
        </div>

        <ul class="nav-list">
          <li class="nav-item">
            <a href="{% url 'forntpage:home' %}" class="nav-link scroll-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'products:allproduct' %}" class="nav-link">Products</a>
          </li>
         
          <li class="nav-item">
            <a href="#about" class="nav-link scroll-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link scroll-link">Contact</a>
          </li>
       
          {% if request.user.is_authenticated  %}
          <li class="nav-item">
            <li class="nav-item">
              <a href="{% url 'products:favourite_list' %}" class="nav-link scroll-link">Favourties</a>
            </li>
            <a href="{% url 'accounts:my_profile' user.profile.pk  %}" class="nav-link scroll-link">Account</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'accounts:logout' %}" class="nav-link scroll-link">Logout</a>
          </li>
          {% else %}

          <li class="nav-item">
            <a href="{% url 'accounts:signup' %}" class="nav-link scroll-link">Register</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'accounts:login' %}" class="nav-link scroll-link">Login</a>
          </li>
          {% endif %}
      











          
        </ul>
      </div>

      <a href="#" class="cart-icon">
        <i class="bx bx-shopping-bag"></i>
      </a>

      <div class="hamburger">
        <i class="bx bx-menu"></i>
      </div>
    </div>
  </nav>

{% endblock content%}

